body{
    margin:0;
    font-family: san-serif;
    text-align: center;
}

.container-image{
    margin:10px 0px 40px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-image img{
    margin:5px;
    border-radius: 9px;
    text-align: center;
    background-color: gray;
}

.btn{
    padding:12px 40px;
    border:none;
    border-radius: 6px;
    color:white;
    font-size: 20px;
    background-color: blueviolet;
    cursor:pointer;
}

.btn:hover{
    filter:brightness(80%);

}